body {
  margin: 0;
  padding: 0;
  background: #0f172a;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

.login-container {
  background: #1e293b;
  padding: 40px;
  border-radius: 12px;
  width: 320px;
  text-align: center;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.4);
}

h1 {
  margin-bottom: 30px;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: none;
  border-radius: 6px;
  outline: none;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  background: #38bdf8;
  color: black;
  font-size: 18px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #0ea5e9;
}

#message {
  margin-top: 20px;
  color: #22c55e;
}